<!DOCTYPE html>
<html>
  <head>
    <title>Remember Car</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'assets/application' if Rails.env.production? %>
    <%= vite_typescript_tag 'application' %>
  </head>

  <body>
    <main class="mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
